/**
* Credit Card Dropdown
* @Author Luis Morales
* 2019
*/

/*
* Fuente
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

a{
    text-decoration: none;
}

.contendor{
    font-family: 'Open Sans', sans-serif;
    width: 100%;

}

.selectbox{
    width:204px;
    height: 40px;
    margin: auto;
    position: relative;
}

.select{
    width: 100%;
    box-shadow: 0px 0px 0px rgba($color: #000000, $alpha: .16);
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    padding: 0px;
    transition: .2s ease all;
    position: relative;
    z-index: 200;
    border: 1px solid #d9d3cf;
}

.select:hover{
   /* box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: .16);  */
    border: 1px solid #afadac;

}

.separador {
    grid-area: "separador";
    border-left: 1px solid #d9d3cf;
    height: 28px;
    margin-top: calc(10% - 12px);
}

.select .arrow-select{
    width: 30px;
    margin-left: 0px;
    margin-top: 12px;
}

.select .arrow-select img {
    width: 10px;
}

.descripcion{
    font-size: 14px;
    font-weight: bold;
    color: #464646;
    margin-left: 17px;
    margin-right: 20px;
}

.opciones{
    width: 204px;
    box-shadow: 0px 1px 7px rgba($color: #000000, $alpha: .3);
    z-index: 100;
    display: none;
}

.opciones.active{
    width: 204px;
    display: block;
    background: #ffffff;
    box-shadow: 0px 1px 7px rgba($color: #000000, $alpha: .3);
    animation: fadeIn .3s forwards;
    position: absolute;
}


/**ANIMACIONES FADEIN*/
@keyframes fadeIn {
    from{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(3px);
    }
}

.contenido-opcion{
    margin-top: 3px;
    width: 204px;
    display: flex;
    align-items: center;
    transition: .2s ease all;
}

.contenido-select .contenido-opcion {
    width: 149px;
}

.contenido-select .contenido-opcion img{
    width: 31px;
    height: 25px;
    margin-left: 15px;
    padding:0px;
}


/*
* Icono de tarjeta en las opciones
*/
.opciones .contenido-opcion img {
    width: 31px;
    height: 25px;
    margin-left: 50px;
}



.opciones .contenido-opcion:hover {
    max-width: 204px;
    background: rgba($color: #fdf0e5, $alpha: .7);
}

.opciones .contenido-opcion .titulo,
.opciones.contenido-opcion .descripcion{
    width:60px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -.08px;
    line-height: 24px;
    padding-left: 15px;
}

.opciones .contenido-opcion:hover .titulo,
.opciones .contenido-opcion:hover .descripcion{
    color: #000000;
}

.arrow-select{
    margin-top: calc(6% - 5px);
}

.icono-select img{
    margin-left: 30px;
}
