<!--Credit Card Dropdown 
@Author Luis Morales
-->
<div class="contenedor">
    <div class="selectbox" (click)="activeSelect()">
      <!--SELECT-->
        <div class="select" id="select">
          <div class="contenido-select">
            <p class="descripcion">Seleccionar tarjeta</p>
          </div>
          <div class="separador"></div>
          <div class="arrow-select">
            <img [src]="arrowIcon" alt="">
          </div>
        </div>
      <!-- FIN SELECT-->


      <!--OPTIONS-->
      <div class="opciones" id="opciones">
          <ng-container *ngFor="let card of listCard">
            <a href="#" id="opcion" (click)="selectOption(card, $event)">
              <div class="contenido-opcion">
                  <img [src]="selectIConCard(card.value)" alt="masterIco">
                  <div class="textos">
                    <p class="descripcion">{{card.value | creditCardUserPipe}}</p>
                  </div>
              </div>
            </a>
          </ng-container>
      </div>
      <!--FIN OPTIONS-->
      </div>
</div>
